cmake_minimum_required(VERSION 3.16)

project({{PROJECT_NAME}})

set(CMAKE_CXX_STANDARD 20)
set(CMAKE_CXX_STANDARD_REQUIRED ON)

add_library(${PROJECT_NAME}
    src/library.cpp
)

target_include_directories(${PROJECT_NAME}
    PUBLIC include
)

add_executable(example
    examples/example.cpp
)

target_link_libraries(example PRIVATE ${PROJECT_NAME})
